.box{
	width: 1000px;
	margin: auto;
	overflow: hidden;
}
.images{

}
.image{
	width: 33.33%;
	float: left;
	height: 400px;
}
.last{
	padding: 10px;
}
.min{
	max-width: 100%;
	height: 400px;
}
img{
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 0px #333;
}

